body {
	background-color: #0A2533;
	padding: 15px;
}
div.content-detalle-graphs  {
	background-color: #173F56 !important;
	margin: auto;
	overflow: hidden;
	text-align: left;
	padding-left: 40px;
}
.template-all-layouts{height:auto;}
h1{color: #748c99; font-family: 'Montserrat', sans-serif; font-weight: bold; text-transform:uppercase;
font-size: 3vw;}
h1 span.tit01{padding-left:10%;}
h1 span.tit02{float:right;}

table{border-spacing: 10px;     border-collapse: separate; width:100%;}
table th{text-align:center;}
table th img{display:block; width:50%; margin:auto; max-width:130px;}
table th p{background-color:#317da7; font-family: 'Montserrat', sans-serif; font-size:1.5vw; text-transform:uppercase; color:#fff; padding:10px 0px;}

table td{background-color: #fff; font-family: 'Montserrat', sans-serif; font-size:1.8vw; text-transform:uppercase; text-align:center; width:20%;}
table > tbody > tr:nth-child(2n+1) > th{background-color: #134054;}
table > tbody > tr:nth-child(2n+1) > td{ background-color: #c9d7dc;}

table td.td-name{width:20%;}
table td.td-img{width:20%;}
table td.td-img img{width:50%;}

@media (max-width: 992px){
    div.content-detalle-graphs{padding-left:10px;}
    h1{font-size:3vw; padding:0px 10px;}
}
@media (max-width: 768px){
    .content-progress{width:100% !important;}
    table .td-name{display:none;}
}
