@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html, body{height:100%; min-height:100%; font-family: 'Ubuntu', sans-serif; font-size:14px; overflow-x:hidden;}
.fullwidth-template{height:100%; min-height:100%;}

.menu-sidebar{background-color:#397baa; height:100%; min-height:100%; padding:0; box-shadow: 5px 0px 10px rgba(0,0,0,0.4);
z-index:999;  position:fixed;}
.menu-sidebar .mydevice{background-color:#1e53bb; height:12%; text-align:center; color:#fff; display: table;  width:100%;
border-right:5px solid #174193;}
.menu-sidebar .lang{background-color:#003366; height:3%; font-size:20px;text-align:center; color:#fff; display: table;  width:100%;
border-right:5px solid #00264d;}
.menu-sidebar .lang a:hover,
.menu-sidebar .lang a.active{color: #fff; }
.menu-sidebar .mydevice img{width:50%;padding-top: 5%;position:relative;}
.menu-sidebar .mydevice p{font-size:2.3vh; display: table-cell; vertical-align: middle; text-transform:uppercase; font-family: 'Ubuntu', sans-serif;}
.menu-sidebar .mydevice p strong{font-size:8vh; font-weight:500;}
.menu-sidebar .sidebar-menu{height:83%; }
.menu-sidebar .sidebar-menu ul{list-style-type:none; margin:0; padding:0; height:87%;}
.menu-sidebar .sidebar-menu ul li{height:13%;}
.menu-sidebar .sidebar-menu ul li a{display: table; vertical-align: middle; color:#55b2ff; width:100%; height:100%; padding-left:10%; border-right:5px solid #2c6086; }
.menu-sidebar .sidebar-menu ul li.options a{background-color:#2b5980; border-right:5px solid #204360;}
.menu-sidebar .sidebar-menu ul li a span{display: table-cell; vertical-align: middle; }
.menu-sidebar .sidebar-menu ul li a span i{font-weight:400; float:left; font-size:7vh; line-height:10vh; 
min-width:3.5vw; text-align:center;}
.menu-sidebar .sidebar-menu ul li a span strong{font-weight:400;  padding: 0px 0px 0px 15px; text-transform:uppercase;
font-family: 'Montserrat', sans-serif; font-size:1.8vh; height:100%; display:block; float:left; vertical-align: middle;
line-height:10vh;}
.menu-sidebar .sidebar-menu ul li a:hover,
.menu-sidebar .sidebar-menu ul li.active a{color:#fff; background-color:#55b2ff; border-right:5px solid #428bc9;}
.menu-sidebar .sidebar-menu ul li.vicomtechlogo-li{text-align:center; position:relative; height:12%;}
.menu-sidebar .sidebar-menu ul li.vicomtechlogo-li img{width:40%; margin:auto; left:10%; float:left;}
.menu-sidebar .sidebar-menu ul li.vicomtechlogo-li img.vicomtechlogo{margin-top:20px; width:55%; float:right;}

.template-content{height:100%; min-height:100%; padding:0px 10px;}
.template-content .all-boxdevices{margin:0px -5px; height:15%;}
.template-content .boxdevice{ height:100%;  padding:0px 5px;}
.template-content .boxdevice div{ height:100%; text-align:center;  text-align:center; text-transform:uppercase;
font-weight:500;  text-transform:uppercase;  display: table; width:100%;  }
.template-content .boxdevice div a{display:block; height:100%; display: table-cell; vertical-align: middle; font-size:2vh; font-family: 'Montserrat', sans-serif; line-height:1em; color:#808080; text-decoration:none; background-color:#48545b;}
.template-content .boxdevice div img{display:block; font-size:10vh;height:12vh;margin-left:auto;margin-right:auto; }

.template-content .boxdevice.active div a{background-color:#55b2ff; color:#224f66;}
.template-content .boxdevice div a:hover{background-color:#fc9200; color:#fff;}


.template-content .template-content-center{height:85%; overflow:hidden; padding:0; margin:0; clear:both;
}
.template-content .layout-columns{ margin-top:10px; background-color:rgba(23,63,86,0.95); padding-top:10px;}
.layout-columns .boxlayout{margin:10px 0px; height:45%;}
.layout-columns .boxlayout a{display:block; background-color:#255d7c; height:100%; text-align:center; padding:5%;}
.layout-columns .boxlayout a.active, .layout-columns .boxlayout a:hover{background-color:#fc9200;}
.layout-columns .boxlayout a img{height:100%; width:100%}

/*--------------*/

.template-all-layouts{height:100%;}
.layout-fullwidth{height:100%; padding:5px;}
.layout-horizontal-divided{height:50%; padding:5px;}
.layout-horizontal-three-divided{height:33.333333%;padding:5px;}
.responsive-menu-button{padding:0; margin:0; position:absolute; width:48px; height:48px; top:0; right:0; z-index:9999999; display:none;}
.responsive-menu-button button{display:block; width:48px; height:48px; background-color:#1E53BB; color:#fff; border:0; font-size:20px;}



.right-content-panel{background-color:#397baa; border:5px solid #ccc; height:20vh; margin:2vh 0;
box-shadow:0px 0px 10px rgba(0,0,0,0.5);}



@media (min-width: 992px) and (max-width: 1200px){
    .menu-sidebar .sidebar-menu ul li a span i{font-size: 7vh;}
    .menu-sidebar .sidebar-menu ul li a span strong{font-size:inherit;}
    .menu-sidebar .sidebar-menu ul li.vicomtechlogo-li{margin-top:10px; padding-top:5%;}
    .menu-sidebar .sidebar-menu ul li.vicomtechlogo-li img{float:none; width:60%; bottom:0;}
    .template-content .boxdevice div img{height:12vh;}
}
@media(min-width:992px){
    .layout-columns{height:100%;}
     .template-content .boxdevice div img{height:12vh;}
}

@media (max-width: 992px){
    .menu-sidebar {        
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
        width: 20%;

    }
     .template-content .boxdevice div img{height:12vh;}
    .template-content{width: 80%; float:right; height:auto;}
    .menu-sidebar .sidebar-menu ul li a{padding-left: 0%;}
    .menu-sidebar .sidebar-menu ul li a span i{float:none; width:100%; font-size: 7vh;}
    .menu-sidebar .sidebar-menu ul li a span strong{display:none;}
    .menu-sidebar .sidebar-menu ul li.vicomtechlogo-li{background-color:rgba(0,0,0,0.08); margin-top:10px; padding-top:5%;}
    .menu-sidebar .sidebar-menu ul li.vicomtechlogo-li img{float:none; width:60%; bottom:0;}
    .menu-sidebar .vicomtechlogo{display:none;}
    .template-content .boxdevice{}
    .template-content .boxdevice div i{ font-size: 9vh;}
    .template-content .boxdevice div a{padding-bottom:10px; font-size:12px;}
    .layout-columns{height:;min-height:100%;}
    #layoutCont{height: auto;}
    #radioCont{height: auto;}
    #graphicCont{height: auto;}
    #camerasCont{height: auto;}
    #twCont{height:auto;}
}
@media(max-width:801px){
    .template-content .boxdevice div img{height:7vh;}
}
@media (max-width: 767px){
    .responsive-menu-button{display:block;}
    .template-content{width: 100%; float:none; height:auto; padding:0px 5px;}
    .menu-sidebar {        
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
        margin-left:-100px;
        width:100px;
    }
    .menu-sidebar.active{margin-left:0;}
    .menu-sidebar .mydevice {  height: 12%;}
    .menu-sidebar .mydevice p{line-height:1.8em;}
    .layout-columns{height:;min-height:100%;}
    #layoutCont{height: auto;}
    #radioCont{height: auto;}
    #graphicCont{height: auto;}
     #camerasCont{height: auto;}
     #twCont{height:auto;}
      .template-content .boxdevice div img{height:7vh;}
}

@media (max-width: 600px){
    .template-content .boxdevice div a{font-size:11px;}
    .template-content .boxdevice div i{ font-size: 7vh;}
    .layout-columns{height:;min-height:100%;}
    #layoutCont{height: auto;}
    #radioCont{height: auto;}
    #graphicCont{height: auto;}
    #camerasCont{height: auto;}
    #twCont{height:auto;}
     .template-content .boxdevice div img{height:7vh;}
}