
.switch_div {
  padding: 19px;
}
.switch_img {
  margin: 0px 20px 0px 0px;
  float: right;
}

/* camara columna derecha */
div.content-camaras {
    height: 100%;
    padding: 20px 20px 2px;
    border-radius: 20px;
    background-color: #375364;
}
div.camara {
  margin-bottom: 22px;
    border-radius: 25px;
    background-color: #5c7586;
    text-align: left;
    padding:20px 0px 10px 0px;
    overflow:auto;
}
div.camara:hover{
  border: 8px none #ff9b00;
  box-shadow: #fc751b 0px 0px 0px 7px inset;
}
div.camara-on {
  background-color: #23527c !important;
}
div.camara-logo-partidos img { width: 80%;}

div.iconos-camara { 
  color: white;   
    text-align: right;
  
}

div.switch-camara { padding-top: 25px; margin-top: 10px;}

/* switch */
.check-switch-camara {
  
    
} 
.check-switch-vol {
  
  
    margin-top:7px;
} 


@media (max-width: 768px){
    .iconos-camara{width:25%; float:left;}
    .check-switch{width:25%; float:right;}
    div.camara-logo-partidos img{width:100%;}   
    .camara-logo-partidos{width:30%; float:left;}
    .camara-all-switch{width:70%; float:right;}
}
@media (max-width: 450px){
    .camara-logo-partidos{width:100%; float:none;}
    .camara-all-switch{width:100%; float:none;}
    div.camara-logo-partidos img{width:50%;}  
}

