body {
	background-color: #0A2533;
	padding: 15px;
}
div.content-detalle-graphs  {
	background-color: #173F56 !important;
	margin: auto;
	overflow: hidden;
	text-align: left;
	padding-left: 40px;
}

h1 {color: #748c99; font-family: 'Montserrat', sans-serif; font-weigth: bold;font-size: 3vw;}
h2 {color: #748c99; font-family: 'Montserrat', sans-serif; font-weigth: bold;font-size: 1.5vw;}

/* progress bar */
div.content-progress-bars {
	padding-top: 15px;		
}
div.progress-bar {
	width: 80%;
	text-align:left !important;
	padding-left: 10px;
	font-size: 18px;
	padding-top: 8px;
}
.progress { 
    background-color: #173F56 !important;
    border-color: #173F56 !important;
    height: 40px !important;
    margin-bottom: 5px;
}
span.total-escanyos {
    padding-left: 20px;
    font-size: 30px;
    font-weight: bold;
}
div.logo-partidos {}
div.logo-patidos img { width: 115px; background-color: #FFF; padding: 10px; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; }

/* colores partidos */
		.socialistas { color: #DB4949;}
		.socialistas-old { color: #BC1919;}
		.pnv { color: #0E7711;}
		.pnv-old{ color: #116311;}
		.bildu { color: #A2E233;}
		.bildu-old{ color: #739E21;}
		.pp { color: #76C7F4;}
		.pp-old{ color: #0098FF;}
		.podemos { color: #D67CD6;}
		.podemos-old { color: #965092;}

